## Setup

In [2]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import sqlpw

In [3]:
# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

## E - Extract Data into DataFrames

### Crypto Decoder

In [4]:
# Use Pandas to scrape the following site and find the abbreviations for the cryptos in the list
url = 'https://en.wikipedia.org/wiki/List_of_cryptocurrencies'
cryptos = ['Bitcoin', 'Ether or "Ethereum"']

In [5]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(url)
tables

[               0         1                    2                  3  \
 0        Release    Status             Currency             Symbol
 1           2009    Active              Bitcoin  BTC,[4][5] XBT, ₿
 2           2011    Active             Litecoin             LTC, Ł
 3           2011    Active             Namecoin                NMC
 4           2011    Active            SwiftCoin                STC
 5           2012    Active             Bytecoin                BCN
 6           2012    Active             Peercoin                PPC
 7           2013    Active             Dogecoin       DOGE, XDG, Ð
 8       2013[23]    Active          Feathercoin             FTC, ₣
 9   2013[26][27]    Active             Gridcoin                GRC
 10          2013    Active            Primecoin                XPM
 11          2013    Active   Ripple[34][35][36]            XRP[36]
 12          2013    Active                  Nxt                NXT
 13      2013[42]    Active              Skycoin                SKY
 14          2014    Active           Auroracoin                AUR
 15          2014  Inactive               Coinye          KOI, COYE
 16          2014    Active                 Dash               DASH
 17          2014    Active                  NEO                NEO
 18          2014    Active             MazaCoin                MZC
 19          2014    Active               Monero                XMR
 20          2014    Active                  NEM                XEM
 21          2014    Active              PotCoin                POT
 22          2014    Active          Synereo AMP                AMP
 23          2014    Active              Titcoin                TIT
 24          2014    Active                Verge                XVG
 25          2014    Active              Stellar                XLM
 26          2014    Active             Vertcoin                VTC
 27          2015    Active  Ether or "Ethereum"                ETH
 28          2015    Active     Ethereum Classic                ETC
 29          2015    Active               Tether               USDT
 30          2015  Inactive              Neucoin                NEU
 31          2016    Active               Decred                DCR
 32          2016    Active                 Lisk                LSK
 33          2016    Active                Zcash                ZEC
 34          2017  Inactive           BitConnect                BCC
 35          2017    Active         Bitcoin Cash            BCH[79]
 36          2017    Active               EOS.IO                EOS
 37          2018    Active              Cardano                ADA
 38          2018  Inactive            KodakCoin                NaN
 39          2018  Inactive                Petro                NaN
 40          2018    Active      Bitcoin Private               BTCP

                                                     4  \
 0                                          Founder(s)
 1                              Satoshi Nakamoto[nt 1]
 2                                         Charlie Lee
 3                              Vincent Durham[13][14]
 4                                        Daniel Bruno
 5                                                 NaN
 6                           Sunny King(pseudonym)[17]
 7                    Jackson Palmer& Billy Markus[20]
 8   Peter Bushnell, Brasenose College of Oxford Un...
 9                                    Rob Hälford [28]
 10                          Sunny King(pseudonym)[17]
 11                      Chris Larsen &Jed McCaleb[37]
 12                                  BCNext(pseudonym)
 13                       Brandon 'Synth' Smietana[43]
 14                     Baldur Odinsson(pseudonym)[45]
 15                                                NaN
 16                      Evan Duffield &Kyle Hagan[47]
 17                            Da Hongfei & Erik Zhang
 18                               BTC Oyate Initiative
 19                                   Monero Core Team
 20                          UtopianFuture (pseudonym)
 21                              Potcoin core dev team
 22                   Dor Konforty & Greg Meredith[55]
 23               Edward Mansfield & Richard Allen[58]
 24                                            Sunerok
 25                                        Jed McCaleb
 26                                            Bushido
 27                                Vitalik Buterin[66]
 28                                                NaN
 29                    Jan Ludovicus van der Velde[72]
 30                                     Daniel Kaufman
 31                                                NaN
 32                        Max Kordek & Oliver Beddows
 33                                       Zooko Wilcox
 34                                                NaN
 35                                                NaN
 36                                        Dan Larimer
 37                           Charles Hoskinson & IOHK
 38                             Kodak and WENN Digital
 39                               Venezuela Government
 40                                                NaN

                                                5  \
 0                                 Hash algorithm
 1                                 SHA-256d[6][7]
 2                                         Scrypt
 3                                       SHA-256d
 4                                        SHA-256
 5                                     CryptoNote
 6                                   SHA-256d[18]
 7                                     Scrypt[21]
 8                                      NeoScrypt
 9                                         Scrypt
 10                               1CC/2CC/TWN[32]
 11                                     ECDSA[38]
 12                                  SHA-256d[40]
 13                                        SHA256
 14                                        Scrypt
 15                                        Scrypt
 16                                           X11
 17                           SHA-256 & RIPEMD160
 18                                      SHA-256d
 19                               CryptoNight[51]
 20                                      SHA3-512
 21                                        Scrypt
 22                                           PoS
 23                                      SHA-256d
 24  Scrypt, x17, groestl, blake2s, and lyra2rev2
 25         Stellar Consensus Protocol (SCP) [62]
 26                                   Lyra2RE[64]
 27                                    Ethash[67]
 28                                    Ethash[67]
 29                                 Omnicore [73]
 30                                       SHA-256
 31                                     Blake-256
 32                                           PoS
 33                                      Equihash
 34                                           NaN
 35                                      SHA-256d
 36                                           NaN
 37                                           NaN
 38                                    Ethash[82]
 39                                  onixCoin[83]
 40                                      Equihash

                                          6  \
 0   Programming language of implementation
 1                                   C++[8]
 2                                  C++[12]
 3                                  C++[15]
 4                                      NaN
 5                                  C++[16]
 6                                  C++[19]
 7                                  C++[22]
 8                                  C++[24]
 9                                  C++[29]
 10                     TypeScript, C++[33]
 11                                 C++[39]
 12                                Java[41]
 13                                  CX/CXO
 14                                 C++[46]
 15                                     NaN
 16                                 C++[48]
 17                                  C#[49]
 18                                 C++[50]
 19                                 C++[52]
 20                                Java[53]
 21                                 C++[54]
 22                         Scala, Java[56]
 23                     TypeScript, C++[59]
 24                              C, C++[61]
 25                              C, C++[63]
 26                                 C++[65]
 27                             C++, Go[68]
 28                                     NaN
 29                                     NaN
 30                                     NaN
 31                                  Go[75]
 32                          JavaScript[76]
 33                                 C++[78]
 34                                     NaN
 35                                     NaN
 36           WebAssembly, Rust, C, C++[80]
 37                             Haskell[81]
 38                                     NaN
 39                                 C++[84]
 40                                 C++[86]

                                                  7  \
 0   Cryptocurrency blockchain (PoS, PoW, or other)
 1                                        PoW[7][9]
 2                                              PoW
 3                                              PoW
 4                                              PoW
 5                                              PoW
 6                                        PoW & PoS
 7                                              PoW
 8                                              NaN
 9                                Decentralized PoS
 10                                         PoW[32]
 11                                     "Consensus"
 12                                             PoS
 13                                     Obelisk[44]
 14                                             PoW
 15                                             PoW
 16                    PoW & Proof of Service[nt 2]
 17                                            dBFT
 18                                             PoW
 19                                             PoW
 20                                             POI
 21                                             PoS
 22                                             PoS
 23                                             PoW
 24                                             PoW
 25           Stellar Consensus Protocol (SCP) [62]
 26                                             PoW
 27                                             PoW
 28                                             PoW
 29                                             PoW
 30                                       PoW & PoS
 31                                  PoW/PoS Hybrid
 32                                             PoS
 33                                             PoW
 34                                             NaN
 35                                             PoW
 36                                   delegated PoS
 37                                   Ouroboros PoS
 38                                             NaN
 39                                             NaN
 40                                             PoW

                                                     8
 0                                               Notes
 1   The first and most widely used decentralized l...
 2   The first cryptocurrency to use Scrypt as a ha...
 3     Also acts as an alternative, decentralized DNS.
 4   First block chain to support currency creation...
 5   First cryptocurrency based on the CryptoNote a...
 6   The first cryptocurrency to use POW and POS fu...
 7                    Based on the Doge internet meme.
 8   Approx. 60 seconds block time.[25] Originally ...
 9   Linked to citizen science through the Berkeley...
 10  Uses the finding of prime chains composed of C...
 11  Designed for peer to peer debt transfer. Not b...
 12  Specifically designed as a flexible platform t...
 13                              Peer-to-peer Internet
 14  Created as an alternative currency for Iceland...
 15  Used American hip hop artist Kanye West as its...
 16  A bitcoin-based currency featuring instant tra...
 17  China based cryptocurrency, formerly ANT Share...
 18  The underlying software is derived from that o...
 19  Privacy-centric coin using the CryptoNote prot...
 20  The first hybrid public/private blockchain sol...
 21  Developed to service the legalized cannabis in...
 22  Trying to create a world computer, Synereo’s 2...
 23  The first cryptocurrency to be nominated for a...
 24  Features anonymous transactions using Tor and ...
 25  Open-source, decentralized global financial ne...
 26  Next-gen ASIC resistance and first cryptocurre...
 27          Supports Turing-complete smart contracts.
 28  An alternative version of Ethereum[69] whose b...
 29  Tether claims to be backed by USD at a 1 to 1 ...
 30  Based on Peercoin, attempted to improve securi...
 31            Built in governance and hybrid PoW/PoS.
 32  Open blockchain platform for decentralized, an...
 33  The first open, permissionless financial syste...
 34  BitConnect was described as an open source, al...
 35  Hard fork from Bitcoin, Increased Block size f...
 36  Feeless Smart contract platform for decentrali...
 37  The Ada cryptocurrency runs on the Cardano pla...
 38  KodakCoin is a "photographer-centric" blockcha...
 39  Stated by Nicolás Maduro to be backed by Venez...
 40  Coin uses zkSNARK for anonymous payments. Hard...  ,
                            0   \
 0         vteCryptocurrencies
 1                  Technology
 2        Consensus mechanisms
 3    Proof-of-work currencies
 4               SHA-256-based
 5                Ethash-based
 6                Scrypt-based
 7              Equihash-based
 8            CryptoNote-based
 9                   X11-based
 10  Proof-of-stake currencies
 11              ERC-20 tokens
 12           Other currencies
 13             Related topics
 14    Category  Commons  List
 15              SHA-256-based
 16               Ethash-based
 17               Scrypt-based
 18             Equihash-based
 19           CryptoNote-based
 20                  X11-based

                                                    1              2   \
 0                                                 NaN            NaN
 1   Atomic swap Blockchain Cryptocurrency tumbler ...            NaN
 2   Proof-of-authority Proof-of-space Proof-of-sta...            NaN
 3   SHA-256-based Bitcoin Bitcoin Cash Counterpart...  SHA-256-based
 4   Bitcoin Bitcoin Cash Counterparty Namecoin Nxt...            NaN
 5                           Ethereum Ethereum Classic            NaN
 6          Bitcoin Gold Dogecoin Feathercoin Litecoin            NaN
 7                                         Zcash Zcoin            NaN
 8                                     Bytecoin Monero            NaN
 9                                          Dash Petro            NaN
 10                      Ada EOS.IO Lisk Tezos VeChain            NaN
 11  æternity Aion Augur Basic Attention Token Bina...            NaN
 12  BitShares Filecoin NEM NEO Primecoin Ripple St...            NaN
 13  Airdrop Anonymous Internet banking BitLicense ...            NaN
 14                                                NaN            NaN
 15  Bitcoin Bitcoin Cash Counterparty Namecoin Nxt...            NaN
 16                          Ethereum Ethereum Classic            NaN
 17         Bitcoin Gold Dogecoin Feathercoin Litecoin            NaN
 18                                        Zcash Zcoin            NaN
 19                                    Bytecoin Monero            NaN
 20                                         Dash Petro            NaN

                                                    3             4   \
 0                                                 NaN           NaN
 1                                                 NaN           NaN
 2                                                 NaN           NaN
 3   Bitcoin Bitcoin Cash Counterparty Namecoin Nxt...  Ethash-based
 4                                                 NaN           NaN
 5                                                 NaN           NaN
 6                                                 NaN           NaN
 7                                                 NaN           NaN
 8                                                 NaN           NaN
 9                                                 NaN           NaN
 10                                                NaN           NaN
 11                                                NaN           NaN
 12                                                NaN           NaN
 13                                                NaN           NaN
 14                                                NaN           NaN
 15                                                NaN           NaN
 16                                                NaN           NaN
 17                                                NaN           NaN
 18                                                NaN           NaN
 19                                                NaN           NaN
 20                                                NaN           NaN

                            5             6   \
 0                         NaN           NaN
 1                         NaN           NaN
 2                         NaN           NaN
 3   Ethereum Ethereum Classic  Scrypt-based
 4                         NaN           NaN
 5                         NaN           NaN
 6                         NaN           NaN
 7                         NaN           NaN
 8                         NaN           NaN
 9                         NaN           NaN
 10                        NaN           NaN
 11                        NaN           NaN
 12                        NaN           NaN
 13                        NaN           NaN
 14                        NaN           NaN
 15                        NaN           NaN
 16                        NaN           NaN
 17                        NaN           NaN
 18                        NaN           NaN
 19                        NaN           NaN
 20                        NaN           NaN

                                             7               8            9   \
 0                                          NaN             NaN          NaN
 1                                          NaN             NaN          NaN
 2                                          NaN             NaN          NaN
 3   Bitcoin Gold Dogecoin Feathercoin Litecoin  Equihash-based  Zcash Zcoin
 4                                          NaN             NaN          NaN
 5                                          NaN             NaN          NaN
 6                                          NaN             NaN          NaN
 7                                          NaN             NaN          NaN
 8                                          NaN             NaN          NaN
 9                                          NaN             NaN          NaN
 10                                         NaN             NaN          NaN
 11                                         NaN             NaN          NaN
 12                                         NaN             NaN          NaN
 13                                         NaN             NaN          NaN
 14                                         NaN             NaN          NaN
 15                                         NaN             NaN          NaN
 16                                         NaN             NaN          NaN
 17                                         NaN             NaN          NaN
 18                                         NaN             NaN          NaN
 19                                         NaN             NaN          NaN

In [6]:
# Find the cryptocurrency DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns appropriate names
df = tables[0]
df.columns = ['release', 'status', 'currency', 'symbol', 'founders', 'hash algorithm', 'prog. language', 'blockchain', 'notes']
df.head()

,release,status,currency,symbol,founders,hash algorithm,prog. language,blockchain,notes
0,Release,Status,Currency,Symbol,Founder(s),Hash algorithm,Programming language of implementation,"Cryptocurrency blockchain (PoS, PoW, or other)",Notes
1,2009,Active,Bitcoin,"BTC,[4][5] XBT, ₿",Satoshi Nakamoto[nt 1],SHA-256d[6][7],C++[8],PoW[7][9],The first and most widely used decentralized l...
2,2011,Active,Litecoin,"LTC, Ł",Charlie Lee,Scrypt,C++[12],PoW,The first cryptocurrency to use Scrypt as a ha...
3,2011,Active,Namecoin,NMC,Vincent Durham[13][14],SHA-256d,C++[15],PoW,"Also acts as an alternative, decentralized DNS."
4,2011,Active,SwiftCoin,STC,Daniel Bruno,SHA-256,NaN,PoW,First block chain to support currency creation...

In [7]:
# Drop all columns except for the currency and symbol
del df['release'], df['status'], df['founders'], df['hash algorithm'], df['prog. language'], df['blockchain'],df['notes']
df

               currency             symbol
0              Currency             Symbol
1               Bitcoin  BTC,[4][5] XBT, ₿
2              Litecoin             LTC, Ł
3              Namecoin                NMC
4             SwiftCoin                STC
5              Bytecoin                BCN
6              Peercoin                PPC
7              Dogecoin       DOGE, XDG, Ð
8           Feathercoin             FTC, ₣
9              Gridcoin                GRC
10            Primecoin                XPM
11   Ripple[34][35][36]            XRP[36]
12                  Nxt                NXT
13              Skycoin                SKY
14           Auroracoin                AUR
15               Coinye          KOI, COYE
16                 Dash               DASH
17                  NEO                NEO
18             MazaCoin                MZC
19               Monero                XMR
20                  NEM                XEM
21              PotCoin                POT
22          Synereo AMP                AMP
23              Titcoin                TIT
24                Verge                XVG
25              Stellar                XLM
26             Vertcoin                VTC
27  Ether or "Ethereum"                ETH
28     Ethereum Classic                ETC
29               Tether               USDT
30              Neucoin                NEU
31               Decred                DCR
32                 Lisk                LSK
33                Zcash                ZEC
34           BitConnect                BCC
35         Bitcoin Cash            BCH[79]
36               EOS.IO                EOS
37              Cardano                ADA
38            KodakCoin                NaN
39                Petro                NaN
40      Bitcoin Private               BTCP

In [8]:
# Drop the first row and set the index to the `currency` column
df = df.iloc[1:]
df.set_index('currency', inplace=True)
df.head()

                      symbol
currency
Bitcoin    BTC,[4][5] XBT, ₿
Litecoin              LTC, Ł
Namecoin                 NMC
SwiftCoin                STC
Bytecoin                 BCN

In [9]:
# Loop through the list of cryptocurrencies and store the symbols in a list.
# Use the DataFrame to perform the lookup.

symbols=[]
for currency in cryptos:
    symbols.append(df.loc[currency].symbol)
symbols

['BTC,[4][5] XBT, \u20bf', 'ETH']

In [10]:
# Clean up the symbol for Bitcoin
symbols[0]=symbols[0][0:3]
symbols

['BTC', 'ETH']

In [11]:
# Clean up the currency name for Ethereum
cryptos[1]=cryptos[1][10:18]
cryptos

['Bitcoin', 'Ethereum']

In [12]:
# Store the lists into a DataFrame
crypto_d={'Cryptocurrency':cryptos,'Symbol':symbols}
crypto_df=pd.DataFrame(crypto_d)
crypto_df

  Cryptocurrency Symbol
0        Bitcoin    BTC
1       Ethereum    ETH

### Extract CSVs into DataFrames

In [13]:
# Extract the Bitcoin CSV and preview
csv_file = "../Resources/bitcoin_price.csv"
bitcoin_data_df = pd.read_csv(csv_file)
bitcoin_data_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",11231.8,11958.5,11231.80,11403.7,"9,926,540,000","189,536,000,000"
1,"Feb 19, 2018",10552.6,11273.8,10513.20,11225.3,"7,652,090,000","178,055,000,000"
2,"Feb 18, 2018",11123.4,11349.8,10326.00,10551.8,"8,744,010,000","187,663,000,000"
3,"Feb 17, 2018",10207.5,11139.5,10149.40,11112.7,"8,660,880,000","172,191,000,000"
4,"Feb 16, 2018",10135.7,10324.1,9824.82,10233.9,"7,296,160,000","170,960,000,000"

In [14]:
# Extract the Ethereum CSV and preview
csv_file = "../Resources/ethereum_price.csv"
ethereum_data_df = pd.read_csv(csv_file)
ethereum_data_df.head()

           Date    Open    High     Low   Close         Volume      Market Cap
0  Feb 20, 2018  943.57  965.26  892.95  895.37  2,545,260,000  92,206,500,000
1  Feb 19, 2018  921.67  957.78  921.55  943.87  2,169,020,000  90,047,700,000
2  Feb 18, 2018  973.35  982.93  915.45  923.92  2,567,290,000  95,077,100,000
3  Feb 17, 2018  944.75  976.60  940.75  974.12  2,525,720,000  92,264,000,000
4  Feb 16, 2018  934.79  950.00  917.85  944.21  2,369,450,000  91,272,100,000

## T - Transform DataFrames

### Transform Bitcoin DataFrame

In [15]:
# Copy the Bitcoin DataFrame into a new DataFrame
new_bitcoin_data_df = bitcoin_data_df[['Date', 'Close']].copy()

# Only include the rows corresponding to dates after August 7, 2015 (beginning of Ethereum data set)
new_bitcoin_data_df = new_bitcoin_data_df.loc[0:928]

# Reset the index, rename index column to "id", and set column "id" as the index column for MySQL connection
new_bitcoin_data_df = new_bitcoin_data_df.reset_index()
new_bitcoin_data_df = new_bitcoin_data_df.rename(columns={"index": "id", "Close": f"{symbols[0]}_Close"})
new_bitcoin_data_df = new_bitcoin_data_df.set_index("id", inplace=False)
new_bitcoin_data_df

             Date  BTC_Close
id
0    Feb 20, 2018   11403.70
1    Feb 19, 2018   11225.30
2    Feb 18, 2018   10551.80
3    Feb 17, 2018   11112.70
4    Feb 16, 2018   10233.90
5    Feb 15, 2018   10166.40
6    Feb 14, 2018    9494.63
7    Feb 13, 2018    8598.31
8    Feb 12, 2018    8926.57
9    Feb 11, 2018    8129.97
10   Feb 10, 2018    8621.90
11   Feb 09, 2018    8736.98
12   Feb 08, 2018    8265.59
13   Feb 07, 2018    7621.30
14   Feb 06, 2018    7754.00
15   Feb 05, 2018    6955.27
16   Feb 04, 2018    8277.01
17   Feb 03, 2018    9174.91
18   Feb 02, 2018    8830.75
19   Feb 01, 2018    9170.54
20   Jan 31, 2018   10221.10
21   Jan 30, 2018   10106.30
22   Jan 29, 2018   11296.40
23   Jan 28, 2018   11786.30
24   Jan 27, 2018   11440.70
25   Jan 26, 2018   11171.40
26   Jan 25, 2018   11259.40
27   Jan 24, 2018   11359.40
28   Jan 23, 2018   10868.40
29   Jan 22, 2018   10931.40
..            ...        ...
899  Sep 05, 2015     235.02
900  Sep 04, 2015     230.30
901  Sep 03, 2015     227.18
902  Sep 02, 2015     229.28
903  Sep 01, 2015     228.12
904  Aug 31, 2015     230.06
905  Aug 30, 2015     228.76
906  Aug 29, 2015     229.78
907  Aug 28, 2015     231.40
908  Aug 27, 2015     224.77
909  Aug 26, 2015     225.83
910  Aug 25, 2015     221.61
911  Aug 24, 2015     210.50
912  Aug 23, 2015     228.17
913  Aug 22, 2015     230.39
914  Aug 21, 2015     232.57
915  Aug 20, 2015     235.35
916  Aug 19, 2015     226.68
917  Aug 18, 2015     211.08
918  Aug 17, 2015     257.98
919  Aug 16, 2015     258.51
920  Aug 15, 2015     261.55
921  Aug 14, 2015     265.68
922  Aug 13, 2015     264.08
923  Aug 12, 2015     266.38
924  Aug 11, 2015     270.39
925  Aug 10, 2015     264.47
926  Aug 09, 2015     265.08
927  Aug 08, 2015     261.00
928  Aug 07, 2015     279.58

[929 rows x 2 columns]

### Transform Ethereum DataFrame

In [16]:
# Copy the Bitcoin DataFrame into a new DataFrame
new_ethereum_data_df = ethereum_data_df[['Date', 'Close']].copy()

# Reset the index, rename index column to "id", and set column "id" as the index column for MySQL connection
new_ethereum_data_df = new_ethereum_data_df.reset_index()
new_ethereum_data_df = new_ethereum_data_df.rename(columns={"index": "id", "Close": f"{symbols[1]}_Close"})
new_ethereum_data_df = new_ethereum_data_df.set_index("id", inplace=False)
new_ethereum_data_df

             Date    ETH_Close
id
0    Feb 20, 2018   895.370000
1    Feb 19, 2018   943.870000
2    Feb 18, 2018   923.920000
3    Feb 17, 2018   974.120000
4    Feb 16, 2018   944.210000
5    Feb 15, 2018   936.980000
6    Feb 14, 2018   923.560000
7    Feb 13, 2018   845.260000
8    Feb 12, 2018   868.710000
9    Feb 11, 2018   814.660000
10   Feb 10, 2018   860.410000
11   Feb 09, 2018   883.870000
12   Feb 08, 2018   817.810000
13   Feb 07, 2018   757.070000
14   Feb 06, 2018   793.120000
15   Feb 05, 2018   697.950000
16   Feb 04, 2018   834.680000
17   Feb 03, 2018   964.020000
18   Feb 02, 2018   915.780000
19   Feb 01, 2018  1036.790000
20   Jan 31, 2018  1118.310000
21   Jan 30, 2018  1071.130000
22   Jan 29, 2018  1182.360000
23   Jan 28, 2018  1246.010000
24   Jan 27, 2018  1107.070000
25   Jan 26, 2018  1055.170000
26   Jan 25, 2018  1056.030000
27   Jan 24, 2018  1058.780000
28   Jan 23, 2018   986.230000
29   Jan 22, 2018  1003.260000
..            ...          ...
899  Sep 05, 2015     1.340000
900  Sep 04, 2015     1.270000
901  Sep 03, 2015     1.260000
902  Sep 02, 2015     1.290000
903  Sep 01, 2015     1.350000
904  Aug 31, 2015     1.360000
905  Aug 30, 2015     1.320000
906  Aug 29, 2015     1.180000
907  Aug 28, 2015     1.190000
908  Aug 27, 2015     1.150000
909  Aug 26, 2015     1.160000
910  Aug 25, 2015     1.140000
911  Aug 24, 2015     1.230000
912  Aug 23, 2015     1.350000
913  Aug 22, 2015     1.380000
914  Aug 21, 2015     1.400000
915  Aug 20, 2015     1.460000
916  Aug 19, 2015     1.260000
917  Aug 18, 2015     1.090000
918  Aug 17, 2015     1.200000
919  Aug 16, 2015     1.570000
920  Aug 15, 2015     1.690000
921  Aug 14, 2015     1.830000
922  Aug 13, 2015     1.830000
923  Aug 12, 2015     1.220000
924  Aug 11, 2015     1.070000
925  Aug 10, 2015     0.708448
926  Aug 09, 2015     0.701897
927  Aug 08, 2015     0.753325
928  Aug 07, 2015     2.770000

[929 rows x 2 columns]

### Create database connection

In [17]:
# Connect to database
connection_string = f"root:{sqlpw}@localhost/crypto_db"
engine = create_engine(f'mysql://{connection_string}')

In [18]:
# Confirm tables
engine.table_names()

['bitcoin', 'ethereum']

## L - Load DataFrames into database

In [52]:
new_bitcoin_data_df.to_sql(name='bitcoin', con=engine, if_exists='append', index=True)

In [53]:
new_ethereum_data_df.to_sql(name='ethereum', con=engine, if_exists='append', index=True)

C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 773")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 774")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 775")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 776")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 777")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 778")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 779")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 780")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 781")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 782")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 783")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 784")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 785")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 786")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 787")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 788")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 789")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 790")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 791")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 792")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 793")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 794")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 795")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 796")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 797")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 798")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 800")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 801")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 802")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 803")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 804")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 805")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 806")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 807")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 808")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 809")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 810")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 811")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 812")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 813")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 814")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 815")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 816")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 817")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 818")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 819")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 820")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 821")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 822")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 823")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 824")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 825")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 826")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 828")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 829")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 830")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 831")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 832")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 833")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 834")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 835")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 837")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 838")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 839")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 840")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 842")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 844")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 848")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 849")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 850")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 851")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 852")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 853")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 854")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 855")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 856")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 857")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 858")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 859")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 860")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 861")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 862")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 863")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 864")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 865")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 866")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 867")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 868")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 869")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 870")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 871")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 872")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 873")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 874")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 875")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 876")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 877")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 878")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 879")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 880")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 881")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 882")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 883")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 884")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 885")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 886")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 887")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 888")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 889")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 890")
  result = self._query(query)
C:\Users\lowli\Anaconda\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'eth_close' at row 891")
  result = self._query(query)